/* https://docs.oracle.com/javase/8/javafx/api/javafx/scene/doc-files/cssref.html#text */
/* https://docs.oracle.com/javase/8/javafx/api/javafx/scene/doc-files/cssref.html#typefont */
/* https://github.com/FXMisc/RichTextFX/wiki/RichTextFX-CSS-Reference-Guide */

.keyword {
    -fx-fill: rgb(0,0,128);
    -fx-font-weight: bold;
}
.string {
    -fx-fill: rgb(0,128,0);
    -fx-font-weight: bold;
}
.comment {
	-fx-fill: rgb(128,128,128);
	-fx-font-style: italic;
}

.paragraph-box:has-caret {
    -fx-background-color: #f9fbe7;
}

.styled-text-area {
    -fx-font-size: 14;
}

/*.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}*/